
main{
    width:90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}


table {
    width: 100%;
    border-collapse: collapse;
    /* border-collapse: separate; */
    /* border-spacing: 0; */
    margin: 20px 0;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    min-width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
   
}

thead {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    
}
/* thead, tbody, table{
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
} */
th, td {
    padding: 12px 6px;
    border: 1px solid #dddddd;
}

tr {
    border-bottom: 1px solid #dddddd;
}
/* ✅ Odd rows */
tbody tr:nth-of-type(odd) {
    background-color: rgb(226, 226, 226); /* white */
}

/* ✅ Even rows */
tbody tr:nth-of-type(even) {
    background-color: rgb(255, 255, 255); /* light gray */
}

/* 🔁 Hover on odd rows */
tbody tr:nth-of-type(odd):hover {
    background-color: rgb(255, 230, 240); /* light pink */
    cursor: pointer;
}

/* 🔁 Hover on even rows */
tbody tr:nth-of-type(even):hover {
    background-color: rgb(176, 235, 255); /* light blue */
    cursor: pointer;
}

tbody td .edit_btn, .del_btn, main > a button{
    padding: 10px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    display: inline;
    box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.2);
}
tbody td .edit_btn, .del_btn{
    /* display: inline-block; */
    margin: 2px 5px;
}


tbody td .edit_btn{
    background-color: #ffc107;
}
tbody td .edit_btn:hover{
    background-color: #ffca2c;
}

tbody td .del_btn{
    background-color: #dc3545;
}
tbody td .del_btn:hover{
    background-color: #bb2d3b;
}
main  a{
    text-decoration: none;
}
main > a button {
    
    background-color: #009879;
}

main >a button:hover {
    background-color: #007b66;
}

