main form {
    max-width: 40rem;
    margin: 2rem auto;
    background-color: rgba(var(--bs-info-rgb), 0.7);
    /* border: 2px solid red; */
    border-radius: 10px;
    padding: 1rem 16px;
    box-shadow: 0 4px 10px rgba(var(--bs-black-rgb), 0.1);
    font-family: Arial, sans-serif;
}

/* Fieldset styling */
form fieldset {
    border: 1px solid var(--bs-gray-400);
    background-color: rgba(var(--bs-white-rgb), 0.5);
    padding: 10px 13px 5px 13px;
    border-radius: 10px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/* Legend styling */
form legend {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 10px;
    color: rgb(138, 99, 0); /* closest: var(--bs-warning-text-emphasis) */
    color: var(--bs-warning-text-emphasis);
}

/* Paragraph spacing */
form p {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Label styling */
form p label {
    font-weight: 600;
    flex-basis: 10rem;
    flex-grow: 0;
    flex-shrink: 0;
}

/* Input & textarea styling */
form input[type="text"],
form input[type="file"],
form textarea {
    padding: 0.5rem;
    border: 1px solid var(--bs-gray-400);
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
}

form p:has(input[type="file"]) {
    flex-direction: column;
    row-gap: 1rem;
}

form p:has(input[type="file"]) label {
    flex-basis: auto;
}

/* Button styling */
form button[type="submit"] {
    margin-top: 1rem;
    margin-left: 75%;
    margin-right: 13px;
    padding: 0.7rem 1.5rem;
    font-size: 1.1rem;
    background-color: var(--bs-primary);
    color: var(--bs-white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #4a7ac7; /* nearest: var(--bs-primary-text-emphasis) */
    background-color: var(--bs-primary-text-emphasis);
}

/* my css */
.inputContainer {
    width: 100%;
    border: 1px solid var(--bs-gray-500);
    border-radius: 10px;
    padding: 5px 1rem;
    background-color: rgba(245, 222, 179, 0.8); /* closest: var(--bs-warning-bg-subtle) */
    background-color: var(--bs-warning-bg-subtle);
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 8px;
}

.inputContainer input[type="text"] {
    border: 0;
    width: 100%;
}

.inputContainer .btn {
    min-width: 2rem;
    max-width: 2rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--bs-white);
    border-radius: 50%;
    padding: 0;
    line-height: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.inputContainer .btn.removeBtn {
    background-color: rgba(var(--bs-danger-rgb), 0.7);
}

.inputContainer .btn.addBtn {
    background-color: rgba(var(--bs-success-rgb), 0.7);
}
