:root {
    /* Primary Colors */
    --primary-green: #009879;
    --primary-pink: #ff69b4;
    --primary-pink-light: #fff0f5;
    --primary-dark-pink: #d63384;

    /* Neutral Colors */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark-gray: #333;
    --color-gray: #ccc;

    /* Shadow */
    --box-shadow: 1px 1px 15px -4px rgba(0, 0, 0, 0.5);

    /* Border & Radius */
    --border-radius: 6px;
    --form-border-radius: 10px;
}

main {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:10px;
}

main > a button, 
form button {
    padding: 10px 16px;
    background-color: var(--primary-green);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius);
    font-size: 15px;
    cursor: pointer;
}

form {
    width: 40rem;
    max-width: 40rem;
    margin: 30px auto;
    padding: 20px;
    background-color: var(--primary-pink-light);
    border: 2px solid var(--primary-pink);
    border-radius: var(--form-border-radius);
    box-shadow: var(--box-shadow);
}

form fieldset {
    border: none;
    margin: 1rem auto;
}

form > fieldset > div {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

form legend {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 800;
    text-transform: capitalize;
    color: var(--primary-dark-pink);
}

p, #id_source, #id_trigger_reason {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--color-dark-gray);
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius);
    font-size: 1rem;
    background-color: var(--color-white);
    text-align: center;
}

#id_source div,
#id_trigger_reason div {
    margin: 5px 0;
}

input[type="checkbox"] {
    margin-right: 6px;
}

button[type="submit"],
button[type="reset"] {
    padding: 10px 16px;
    font-size: 1rem;
    border: none;
    border-radius: var(--border-radius);
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"] {
    background-color: var(--primary-pink);
    color: var(--color-white);
}

button[type="reset"] {
    background-color: var(--color-gray);
    color: var(--color-black);
}

button:hover {
    opacity: 0.85;
}

@media only screen and (max-width:400px){
    form {
        width: auto;
    }
}

p:has(input[type="date"]), 
p:has(input[type="time"]){
    display: flex;
    align-items: center;
    gap: 10px 1rem;
}

p:has(input[type="date"]) label, 
p:has(input[type="time"]) label{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 7rem;
}

p:has(input[type="date"]) input[type="date"], 
p:has(input[type="time"]) input[type="time"]{
    flex: 1;
}

p:has(input[type="date"]) button, 
p:has(input[type="time"]) button{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 5rem;
}
