/* General Reset */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f0f2f5;
  color: #333;
} */

/* Header Style */
header {
  width:90%;
  margin: 0px auto;
  background: linear-gradient(to right, #4e54c8, #8f94fb);
  color: white;
  padding: 1rem 2rem 0  2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Title */
header .title_area h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

/* Navigation */
header nav{
  width:100%;
  margin: 0px auto;
  padding: 1rem 2rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: linear-gradient(to right, #6a71ff, #b8bbff);
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

header nav ul li a.active{
  background-color: rgba(78, 84, 200, 0.682);
  /* background: conic-gradient(red, yellow, green, blue); */
  /* background: radial-gradient(circle, red, blue); */
  /* background: linear-gradient(rgba(78, 84, 200, 0.7), rgba(78, 84, 200, 0.0)); */
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

header nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

header .loing_profile{
  text-align: center;
  padding: 3px 6px;
  
  /* border: 1px solid rgba(245, 222, 179, 0.4); */
  /* border-radius: 15%; */
  /* box-shadow: 0px 0px 14px -6px rgba(0, 0, 0, 0.2); */
}
header .loing_profile img{
  width: 2rem;
  height: auto;
 
}
header .loing_profile #username{
  border-radius: 5px;
  background-color: #4e54c899;
  font-size: .8rem;
  text-transform: capitalize;
  padding: 5px 8px;
  color: white;
}


/* Logout Button */
header .button_area button {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: white;
  color: #4e54c8;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header .button_area button:hover {
  background-color: #4e54c8;
  color: white;
}

header #theameBtn{
  width: 2rem;
  height: 2rem;
  border: 2px solid rgba(126, 126, 126, 0.37);
  outline: 2px solid rgba(255, 255, 255, 0.37);
  border-radius: 50%;
}
header #theameBtn svg{
  width: 100%;
  height: auto;

}
/* flex seetting setart */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
header .button_area{
  display: flex;
  align-items: center;
  gap:2rem;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
/* flex setting end */
@media only screen and (max-width: 768px){
  header {
    justify-content: center;
    row-gap: 2rem;
  }
}
