@import url('./colorProfile.css');

body, html{
    width: 100%;
    height:100%;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* flex setting */

body{
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    /* justify-content: center; */
    background-color: var(--bs-light);
    background-image: url("../img/background.svg");
    background-repeat:  repeat;
    background-position: center center;
    background-size: 400px;
    background-attachment: fixed;
    position: relative;
   
}
body .blur_bg{
    width:100vw;
    min-height: 100vh;
    top:0;
    left:0;
    position: fixed;
    backdrop-filter: blur(5px);
    z-index: -1;
    overflow: hidden;
}
main{
    position:relative;
    z-index: 1;
}
body header{
    align-self: flex-start;
}
body main{flex: 1;}
body footer{
    align-self:flex-end;
}
.msg{
    color: var(--bs-white);
    font-size: 1rem;
    width: max-content;
    margin: 0 auto 1rem auto;
    padding: 6px 6px;
    border-radius: 5px;

}
.success{
    background-color: var(--bs-success-text-emphasis);
    border: 1px solid var(--bs-success);
}
.error{
    background-color: var(--bs-danger-text-emphasis);
    border: 1px solid var(--bs-danger);
}
@media (prefers-color-scheme: dark){

}
@media (prefers-color-scheme: light){}