<span>
    <label for="bubbleType">bar</label>
    <input type="radio" name="chartTriggerType" data-value="bar" value="bar"> 
</span><span>
    <label for="bubbleType">line</label>
    <input type="radio" name="chartTriggerType" data-value="line" value="line"> 
</span><span>
    <label for="bubbleType">pie</label>
    <input type="radio" name="chartTriggerType" data-value="pie" value="pie"> 
</span><span>
    <label for="bubbleType">doughnut</label>
    <input type="radio" name="chartTriggerType" data-value="doughnut" value="doughnut"> 
</span><span>
    <label for="bubbleType">radar</label>
    <input type="radio" name="chartTriggerType" data-value="radar" value="radar"> 
</span><span>
    <label for="bubbleType">polarArea</label>
    <input type="radio" name="chartTriggerType" data-value="polarArea" value="polarArea"> 
</span><span>
    <label for="bubbleType">bubble</label>
    <input type="radio" name="chartTriggerType" data-value="bubble" value="bubble"> 
</span><span>
    <label for="bubbleType">scatter</label>
    <input type="radio" name="chartTriggerType" data-value="scatter" value="scatter"> 
</span>