{% extends 'base.html' %}
{% load static %}

{% block title%}Create Activity{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/addNewActivity.css' %}">
{% endblock stylesheet %}

{% block content %}
<main>
    {% if messages %}
        {% for msg in messages %}
            <div class="msg {% if msg.tags %} {{msg.tags}} {% endif %}">{{msg}}</div>
        {% endfor %}
    {% endif %}
    <form action="" method="POST" name="addNewActivtyForm" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Add New Activity</legend>
            
            </div>
            {{ form.as_p }}
            
        </fieldset>
        <fieldset id="source_filds">
            <legend>Source</legend>
            
        </fieldset>
        <fieldset id="triger_filds">
            <legend>Triger</legend>
            
        </fieldset>
        <fieldset id="extra_filds">
            <legend>Extra</legend>
            
        </fieldset>
        <button type="submit">
            {% if form.instance.pk %}
                Update
            {% else %}
                Add
            {% endif %}
        </button>
    </form>
</main>

    
{% endblock content %}
{% block javascript %}

<script src="{% static 'js/addNewActivity.js' %}"></script>
{% endblock javascript %}