{% extends 'base.html' %}
{% load static %}
{% block title%}Add Record{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/addRecord.css'%}">
{% endblock stylesheet %}

{% block content %}
<main>
    <form action="" method="post" name="addRecordForm">
        {% csrf_token %}
        <fieldset>
            <legend>Add New Record</legend>
            {{ form.as_p }}
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </fieldset>
    
    </form>
    <a href="{% url 'viewRecord' %}">
    <button > View Record</button>
    </a>
</main>

{% endblock content%}
{% block javascript %}
<script src="{% static 'js/addRecord.js' %}"></script>
{% endblock javascript %}