{% extends 'base.html' %}
{% load static %}

{% block title%}Yearly Calendar - {{ year }}{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/calander.css' %}">
{% endblock stylesheet %}

{% block content %}

<main>
    <div class="CalendarNav">
        
        <a href="{% url 'yearly_calendar_by_year' year=year|add:'-1' %}" class="pre" > &lt</a>
        <h1>📅 Yearly Calendar - <input type="number" id="yearInput" value="{{ year }}" min="1000" max="9999"></h1>
        <a href="{% url 'yearly_calendar_by_year' year=year|add:'1' %}" class="nxt">&gt</a>
    </div>

    <div class="month-container">
        {% for month in months %}
            <div class="month">
                <!-- <h2>{{ month.name }}</h2> -->
                {{ month.html|safe }}
            </div>
        {% endfor %}
    </div>
</main>
    
{% endblock content %}
{% block javascript %}
<script>
  const markedData = JSON.parse(`{{ months_json|safe|escapejs }}`);
  console.log(markedData);
  const calendarURL = "{% url 'yearly_calendar_by_year' year=0 %}";
</script>
<script src="{% static 'js/calander.js' %}"></script>


{% endblock javascript %}