
<span>
    <label for="barType">Bars</label>
    <input type="radio" name="chartType" id="barType" value="bar">
</span>
<span>
    <label for="lineType">Lines</label>
    <input type="radio" name="chartType" id="lineType" value="line">
</span>
<span>
    <label for="pieType">pie</label>
    <input type="radio" name="chartType" id="pieType" value="pie"> 
</span>
<span>
    <label for="doughuntType">doughunt</label>
    <input type="radio" name="chartType" id="doughuntType" value="doughnut"> 
</span>
<span>
    <label for="radarType">radar</label>
    <input type="radio" name="chartType" id="radarType" value="radar"> 
</span>
<span>
    <label for="polarAreaType">polarArea</label>
    <input type="radio" name="chartType" id="polarAreaType" value="polarArea"> 
</span>
<span>
    <label for="bubbleType">bubble</label>
    <input type="radio" name="chartType" id="bubbleType" value="bubble"> 
</span>
<span>
    <label for="scatterType">scatter</label>
    <input type="radio" name="chartType" id="scatterType" value="scatter"> 
</span>