{% extends 'base.html' %}
{% load static %}

{% block title%}Charts{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/charts.css' %}">
{% endblock stylesheet %}

{% block content %}
<main>
    <aside>
        <!-- <div class="toggleNav_btn">
            <img src="{%static 'img/grid-svgrepo-com.svg' %}" alt="">
        </div> -->
        <nav class="chartsNav">
            <ul>
                {% for data in activity_meta.values %}
                <li class="{% if forloop.first %} selected {% endif %}"  data-activity_id ={{data.id}}>
                    <!-- style="background-color: {{ data.color }};" -->
                    <div class="icon_box"><img src="{{ data.icon_url }}" alt="icon"></div>
                    <div class="chart_name ">{{ data.activity_name }}</div>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </aside>
    
    <div class="charts_section">
        <div class="chart_container">
            <div class="chart_display">
                <canvas id="TriggersChart" height="200" width="300" role="img"></canvas>
            </div>
            <div class="ChartTypeSelector" id="TriggerChartChoice">
                <!-- radio button will be show there -->
            </div>
            <div class="duration_selector" id="TriggersDurationSelector">
                <input type="date" name="" id="Dateset4TriggersDuration">
                {% include 'partials/duration_selector_btn.html' %}
            </div>
        </div>

        <div class="chart_container">
            <div class="chart_display">
                <canvas id="SourceChart" height="200" width="300" role="img"></canvas>
            </div>
            <div class="ChartTypeSelector" id="SourceChartChoice">
                <!-- radio button will be show there -->
            </div>
            <div class="duration_selector" id="SourceDurationSelector">
                <input type="date" name="" id="Dateset4SourceDuration">
                {% include 'partials/duration_selector_btn.html' %}
            </div>
        </div>

        <div class="chart_container">
            <div class="chart_display">
                <canvas id="TimeDurationChart" height="300" width="300" role="img"></canvas>
            </div>
            <div class="ChartTypeSelector" id="TimeDurationChartChoice">
                <!-- radio button will be show there -->
            </div>
            <div class="duration_selector" id="TimeChartDurationSelector">
                <input type="date" name="" id="Dateset4TimeChartDuration">
                {% include 'partials/duration_selector_btn.html' %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}
{% block javascript %}
<script src="{% static 'js/chart.umd.js' %}"></script>
<!-- <script>const allChartData = JSON.parse('{{ chart_data|escapejs }}');</script> -->
<script src="{% static 'js/charts_template.js' %}"></script>
<!-- <script src="{% static 'js/chart_nav.js' %}"></script> -->
{% endblock javascript %}
