{% load static %}
<header>
    <div class="title_area">
        <a href="{% url 'home' %}">
            <h1>Activity Tracker</h1>
        </a>
        
    </div>
    <div class="button_area">
    {% if request.user.is_authenticated and request.user.id %}
        <a href="{% url 'change_user_profile' request.user.id %}">
            <div class="loing_profile">
                <img src="{% static 'img/circle-user-solid-full.svg' %}" alt="icon">
                <div id="username">{{ request.user.username }}</div>
            </div>
        </a>
        <a href="{% url 'logout' %}"><button type="button">Logout</button></a>
        

    {% else%}
        <a href="{%url 'login' %}"><button type="button">Login</button></a>
        <a href="{%url 'signup' %}"><button type="button">Signup</button></a>
    {% endif %}
    
        
   
    <div id="theameBtn"></div>
    <a href="{% url 'about' %}"><button type="button">&#9432; About</button></a>
    </div>
    {% if user.username %}
<nav>
    {% include 'navLink.html' %}
</nav>
{% endif %}
</header>
 
