{% extends 'base.html' %}
{% load static %}

{% block title%}Home{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock stylesheet %}

{% block content %}
<main>
    <section class="about_section">
        <h2>About Activity Tracker</h2>
        <!-- <p>
            Track your daily activities, from study and sports to movies and reading, all in one place. 
            Visualize your time, analyze productivity, and stay on top of your goals effortlessly.
        </p> -->
        <p>Activity Tracker App एक personal productivity और learning logger है। इसमें user अपनी daily activities जैसे पढ़ाई, खेल, फिल्म, गेम, किताब पढ़ना आदि track कर सकता है। App activity का source, reason/trigger, start time, end time और date save करता है।
            Main features में activity जोड़ना, calendar या list view में देखना, charts/graphs से visualize करना और analytics शामिल हैं। Future में CSV/Excel export।
        </p>
    </section>

</main>

    
{% endblock content %}
{% block javascript %}

<script src="{% static 'js/blank.js' %}"></script>
{% endblock javascript %}

