{% extends 'base.html' %}
{% load static %}
{% block title%}Add Record{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/addRecord.css'%}">
{% endblock stylesheet %}

{% block content %}
<main>
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend> {{activity.activity_name}}</legend>
            {{form.as_p}}
            <button type="submit">Save</button>
            <button type="reset">Reset</button>
        </fieldset>
    </form>
    <a href="{% url 'viewRecord' %}">
    <button > View Record</button>
    </a>
</main>

{% endblock content%}
{% block javascript %}
<script src="{% static 'js/addRecord.js' %}"></script>
{% endblock javascript %}