{% extends 'base.html' %}
{% load static %}

{% block title%}Select Activity{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/selectActivity.css' %}">
{% endblock stylesheet %}

{% block content %}

<main>
    
    <section id="favrateActivitys" class="sectionRow">
        <!-- <div class="activity_card" data-activity-id="9">
            <h1>Example</h1> 
            <ul class="triger">
                <h3 >Triger/Cose</h3>
                <li>cose1</li>
                <li>cose1</li>
                <li>cose1</li>
                <li>cose1</li>
            </ul>
            
            <ul class="source">
                <h3>Source/Action</h3>
                <li>cose1</li>
                <li>cose1</li>
                <li>cose1</li>
                <li>cose1</li>
            </ul>
        </div> -->
    </section>
    <section id="allActivitys" class="sectionRow">
         {% for activitie in all_activities %}
            <a   href="{% url 'addRecord' activitie.id %}" >
                <div class="activity_card" style="backgroun-color: {{ activitie.color_field }};" data-activity-id="{{ forloop.counter }}">
                    <h1 class="heading">{{activitie.activity_name}}</h1> 
                    <ul class="triger" >
                        <h3 class="title">Triger/Cose</h3>
                        {% for cose in activitie.trigger %}
                            <li>{{ cose }},</li>
                        {% endfor %}
                    </ul>
                    
                    <ul class="source">
                        <h3 class="title">Source/Action</h3>
                        {% for cose in activitie.source %}
                        <li>{{ cose }},</li>
                        {% endfor %}
                    </ul>
                </div>
            </a>
        {% endfor %}
    </section>

  
    
    <section id="userDefineActivitys" class="sectionRow">
        <div class="activity_card" id="createActivityBtn">
            <h3 class="heading">Creaet Activity</h3> 
            <div class="add_sing">+</div>
        </div>
        
    </section>
</main>
    
{% endblock content %}
{% block javascript %}

<script src="{% static 'js/selectActivity.js' %}"></script>
{% endblock javascript %}






