{% extends 'base.html' %}
{% load static %}

{% block title%}Sing up{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/loginNsingup.css' %}">
{% endblock stylesheet %}

{% block content %}

<main>
    {% if messages %}
        {% for msg in messages %}
            <p class="{% if msg.tags %} {{mag.tags}}{% endif %}">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <!-- <h1>Singup</h1> -->
    <form action="" method="POST" name="singupForm">
        {% csrf_token %}
        <fieldset>
            <legend>Singup</legend>
            {{form.as_p}}
            <button type="submit" >Create Account</button>
        </fieldset>
    </form>
    <p>If u have already Account then <a href="/login">Login</a></p>

</main>

{% endblock content %}
{% block javascript %}
<script src="{% static 'js/login.js' %}"></script>
<script src="{% static 'js/singup.js' %}"></script>

{% endblock javascript %}

