{% extends 'base.html' %}
{% load static %}

{% block title%}Accoutn Manager{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/userAccountManage.css' %}">
{% endblock stylesheet %}

{% block content %}
<main>
    <div class="leftDiv">
        <div id="messageBlock"></div>
        <table id="userAccountTable">
            <caption>User Accountes</caption>
            <thead>
                <tr>
                    <th>id</th>
                    <th>User name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>is Active</th>
                    <th>Age</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in all_users %}
                <tr data-id="{{ user.id }}">
                    <td >{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.gender }}</td>
                    <td><input type="checkbox" name="active" id="active" value="{{ user.is_active }}"></td>
                    <td>{{ user.age }}</td>
                    <td> 
                        <button class="deleteBtn">
                            <img src="{% static 'img/trash-can.svg' %}"  alt="Delete" title="delete record" style="width:.9rem;">
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="rightDiv">
        <table id="userDataTable">
            <caption></caption>
            <thead>
                <tr>
                    <th>Activity Name</th>
                    <th>Data</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Source</th>
                    <th>Trigeer Reason</th>

                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</main>

    
{% endblock content %}
{% block javascript %}

<script src="{% static 'js/userAccountManage.js' %}"></script>
{% endblock javascript %}

