{% extends 'base.html' %}
{% load static %}

{% block stylesheet%}
    <link rel="stylesheet" href="{% static 'css/viewRecord.css'%}">
{% endblock stylesheet%}

{% block title%}View Record{% endblock title %}

{% block content %}
<main>
    {% for msg in messages %}
    <div class="{% if msg.tags %}{{msg.tags}}{% endif %}" >{{msg}}</div>
    {% endfor %}
    <table>
        <thead>
            <th> Activity Name</th>
            <th> Date</th>
            <th> Start Time</th>
            <th> End Time</th>
            <th> Source</th>
            <th> Triger /cose </th>
            <th> Extra</th>
            <th> Actions </th>
        </thead>
        <tbody>
            {% for row in data %}
                <tr style="background : linear-gradient(to right, {{ row.activity_id.color_field }} 0%, #fff 100%);">
                    <td>{{ row.activity_id.activity_name }}</td>
                    <td>{{ row.date }}</td>
                    <td>{{ row.start_time }}</td>
                    <td>{{ row.end_time }}</td>
                    <td>
                        <!-- {{row.source}} -->
                        {% for key, value in row.source.items %}
                        {% if value %}
                        <input type="checkbox" checked disabled> {{key}}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <!-- {{row.trigger_reason}} -->
                        {% for key, value in row.trigger.items %}
                        {% if value %}
                        <input type="checkbox" checked disabled> {{key}}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>{% if row.extra %}{{row.extra}}{% endif %}</td>
                    <td>
                        <a href="{% url 'record_edit' row.id %}">
                            <button class="edit_btn">Edit</button>
                        </a>

                        <form action="{% url 'record_delete' row.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="del_btn">Delete</button>
                        </form>
                        
                    </td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
</main>
{% endblock content%}
{% block javascript %}

<script src="{% static 'js/blank.js' %}"></script>
{% endblock javascript %}
